/* Universals
============================================================================ */

html, body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #000f23;
	font: 19px/25px 'Avenir Book', 'Helvetica', sans-serif;
}

a {
	text-decoration: none;
}


/* Content
============================================================================ */

#content a {
	text-decoration: underline;
}
