/* Universals
============================================================================ */

html, body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #000f23;
	font: 19px/25px 'Avenir Book', 'Helvetica', sans-serif;
}

a {
	text-decoration: none;
}


/* Structure
============================================================================ */

div#top-sections-container {
	background: #071f41 url('../images/background-pattern-with-background-color.gif') top center repeat;
}

	div#top-sections {
		background: url('../images/background-radial-60-percent-opacity.png') top center no-repeat;
		padding: 0px 0px 60px 0px;
	}


/* Content
============================================================================ */

#content a {
	text-decoration: underline;
}
