/* Universals
============================================================================ */

html, body {
	margin: 0px;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

body {
	background: #000f23;
	font: 19px/25px 'Avenir Book', 'Helvetica', sans-serif;
}

a {
	text-decoration: none;
}


/* Structure
============================================================================ */

div#top-sections-container {
	background: #071f41 url('../images/background-pattern-with-background-color.gif') top center repeat;
}

	div#top-sections {
		background: url('../images/background-radial-60-percent-opacity.png') top center no-repeat;
		padding: 0px 0px 60px 0px;
	}

		header {
			background: rgba(3, 16, 35, 0.12);
			height: 68px;
			width: 100%;
		}

		section#logo-section {

		}

			div#logo-content {
				height: 59px;
				margin: 0px auto;
				padding: 62px 0px 59px 0px;
			}


/* Header
============================================================================ */

#nav {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
}

	#nav li {
		display: block;
		float: left;
	}

		#nav li a {
			color: #4480b3;
			display: inline-block;
			font: normal 14px/68px 'Avenir Heavy', 'Helvetica', sans-serif;
			text-decoration: none;
			text-transform: uppercase;
		}

			#nav li.selected a {
				color: #c6ddf1;
			}

			#nav li a.home { width: 90px; }
			#nav li a.about-us { width: 115px; }
			#nav li a.our-people { width: 130px; }
			#nav li a.our-work { width: 120px; }
			#nav li a.outreach-and-impacts { width: 195px; }
			#nav li a.events-and-programs { width: 190px; }
			#nav li a.news { width: 85px; }
			#nav li a.contact { width: 90px; }

			@media only screen and (min-width: 768px) and (max-width: 1040px)  {
				#nav li a { font-size: 12px; }
				#nav li a.home { width: 56px; }
				#nav li a.about-us { width: 81px; }
				#nav li a.our-people { width: 96px; }
				#nav li a.our-work { width: 86px; }
				#nav li a.outreach-and-impacts { width: 161px; }
				#nav li a.events-and-programs { width: 156px; }
				#nav li a.news { width: 51px; }
				#nav li a.contact { width: 56px; }
			}

			@media only screen and (max-width: 768px)  {
				#nav { display: none; }
			}

#nav-mobile {
	display: none;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
	width: 200px;
}

	#nav-mobile select {
		width: 200px;
	}

	@media only screen and (max-width: 768px)  {
		header { background: rgba(3, 16, 35, 0.20); border-bottom: 1px solid #224778; }
		#nav-mobile { display: block; }
	}


/* Logo
============================================================================ */

a#logo {
	background: url('../images/celest-logo.png') center center no-repeat;
	display: block;
	float: left;
	height: 59px;
	text-indent: -5000px;
	width: 224px;
}


/* Content
============================================================================ */

#content a {
	text-decoration: underline;
}
