/* Fonts
============================================================================ */

@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/AvenirLTStd-Book.woff') format('woff'), url('../fonts/AvenirLTStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Roman';
  src: url('../fonts/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/AvenirLTStd-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/AvenirLTStd-Medium.woff') format('woff'), url('../fonts/AvenirLTStd-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype');
}


/* Universals
============================================================================ */

html, body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #000f23;
    font: 16px/24px 'Avenir Book', 'Avenir', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
}

strong {
    font-family: 'Avenir Medium', 'Avenir', 'Helvetica', sans-serif;
    font-weight: normal;
}


/* Structure
============================================================================ */

div#top-sections-container {
    background: #071f41 url('../images/background-pattern-with-background-color.gif') top center repeat;
}

    div#top-sections {
        background: url('../images/background-radial-60-percent-opacity.png') top center no-repeat;
        padding: 0px 0px 60px 0px;
    }

        header {
            background: rgba(3, 16, 35, 0.12);
            height: 68px;
            width: 100%;
        }

        section#logo-section {

        }

            div#logo-content {
                height: 59px;
                margin: 0px auto;
                padding: 62px 0px 59px 0px;
            }

    section#main {
        background: #fff;
        border-radius: 2px;
        padding: 60px 0px 30px 0px;
    }

        section#sidebar {

        }

        section#content-container {

        }

            section#content {
                color: #2d3c51;
                margin: 0px 15px 0px 15px;
            }

    section#news-footer {
        background: #001337;
        border-top: 1px solid #102d56;
        padding: 30px 0px;
    }

    footer {
        background: #000f23;
        border-top: 1px solid #092041;
        padding: 60px 0px 50px 0px;
    }


/* Header
============================================================================ */

#nav {
    list-style: none;
    margin: 0px auto;
    padding: 0px;
}

    #nav li {
        display: block;
        float: left;
    }

        #nav li a {
            color: #4480b3;
            display: inline-block;
            font: normal 14px/68px 'Avenir Heavy', 'Avenir', 'Helvetica', sans-serif;
            text-decoration: none;
            text-transform: uppercase;
        }

            #nav li.current-menu-item a,
            #nav li.current-menu-ancestor a {
                color: #c6ddf1;
            }

            #nav li a.home { width: 90px; }
            #nav li a.about-us { width: 115px; }
            #nav li a.our-people { width: 130px; }
            #nav li a.our-work { width: 120px; }
            #nav li a.outreach-and-impacts { width: 195px; }
            #nav li a.events-and-programs { width: 190px; }
            #nav li a.news { width: 85px; }
            #nav li a.contact { width: 90px; }

            @media only screen and (min-width: 768px) and (max-width: 1040px) {
                #nav li a { font-size: 12px; }
                #nav li a.home { width: 56px; }
                #nav li a.about-us { width: 81px; }
                #nav li a.our-people { width: 96px; }
                #nav li a.our-work { width: 86px; }
                #nav li a.outreach-and-impacts { width: 161px; }
                #nav li a.events-and-programs { width: 156px; }
                #nav li a.news { width: 51px; }
                #nav li a.contact { width: 56px; }
            }

            @media only screen and (max-width: 768px) {
                #nav { display: none; }
            }

#nav-mobile {
    display: none;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    width: 200px;
}

    #nav-mobile select {
        width: 200px;
    }

    @media only screen and (max-width: 768px) {
        header { background: rgba(3, 16, 35, 0.20); border-bottom: 1px solid #224778; }
        #nav-mobile { display: block; }
    }


/* Logo
============================================================================ */

a#logo {
    background: url('../images/celest-logo.png') center center no-repeat;
    display: block;
    float: left;
    height: 59px;
    text-indent: -5000px;
    width: 224px;
}

div#logo-subheader {
    float: left;
    height: 48px;
    margin: 4px 0px 7px 16px;
    text-shadow: 2px 2px 1px #0c2952;
    width: 800px;
}

    span#subheader-celest {
        color: #98c0e2;
        display: inline-block;
        font: 23px/23px 'Avenir Medium', 'Avenir', 'Helvetica', sans-serif;
    }

    span#subheader-nsf {
        color: #5f9acc;
        display: inline-block;
        font: 20px/23px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
    }

    @media only screen and (min-width: 768px) and (max-width: 1040px) {
        div#logo-subheader { width: 520px; }
        span#subheader-celest { font-size: 15px; line-height: 16px; }
        span#subheader-nsf { font-size: 15px; line-height: 15px; }
    }

    @media only screen and (max-width: 768px) {
        div#logo-content { padding: 42px 0px 40px 0px; }
        a#logo { width: 100%; }
        div#logo-subheader { display: none; }
    }


/* Sidebar
============================================================================ */

section#sidebar h3 {
    color: #2e3a4a;
    letter-spacing: 2px;
    margin: 0px 40px 44px 40px;
    font: 16px/16px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
    text-transform: uppercase;
}

    @media only screen and (max-width: 768px) {
        section#sidebar h3 {
            margin-bottom: 40px;
        }
    }

ul#sidenav  {
    font: 16px/20px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
    list-style: none;
    margin: 0px 15px 30px 40px;
    padding: 0px;
}

    ul#sidenav li {
        border-bottom: 1px solid #e3e3e3;
    }

        ul#sidenav li a {
            color: #384960;
            display: block;
            padding: 10px 0px 10px 0px;
        }

            ul#sidenav li.current-menu-item > a,
            ul#sidenav li.current-menu-ancestor > a {
                color: #3983b2;
            }

        ul#sidenav ul {
            display: none;
            list-style: none;
            margin: 0px;
            padding: 0px 0px 10px 15px;
        }

            ul#sidenav li.current-menu-item ul,
            ul#sidenav li.current-menu-ancestor > ul {
                display: block;
            }

            ul#sidenav ul li {
                font-size: 14px;
                line-height: 16px;
                border-bottom: none;
            }

            ul#sidenav ul li.current-menu-item > a,
            ul#sidenav ul li.current-menu-ancestor > a {
                color: #3983b2;
            }


/* Homepage
============================================================================ */

section#homepage-container {
    margin: 0px auto;
    max-width: 1040px;
}

    section#homepage-container div:first-child {

    }

        .smart-slider-canvas-inner div {
            border-radius: 2px;
        }

        section#homepage-container h1:first-child a {
            font-family: 'Avenir Light', Helvetica, sans-serif !important;
        }

            section#homepage-container h1 a:hover {
                color: #98c0e2 !important;
            }

    .mobile-homepage {
        color: #fff;
        display: none;
        margin: -20px 0px -30px 0px;
        text-align: center;
    }

        .mobile-homepage p:last-child {
            margin-bottom: 0px;
        }

        .mobile-homepage a {
            color: #029eff;
            font-family: 'Avenir Medium', 'Avenir', 'Helvetica', sans-serif;
        }

        @media only screen and (max-width: 768px) {
            section#homepage-container div:first-child { display: none; }
            .mobile-homepage { display: block; }
        }


/* Content
============================================================================ */

section#content h1 {
    color: #349bdc;
    font: 36px/36px 'Avenir Light', 'Avenir', 'Helvetica', sans-serif;
    margin: -2px 0px 34px 0px;
}

    @media only screen and (max-width: 768px) {
        section#content h1 {
            font-size: 30px;
            margin-bottom: 24px;
            margin-top: 60px;
        }
    }

section#content h2 {
    color: #0b79be;
    font: 24px/24px 'Avenir Book', 'Avenir', 'Helvetica', sans-serif;
    margin: 40px 0px 1em 0px;
}

section#content p {
    font: 16px/24px 'Avenir Book', 'Avenir', 'Helvetica', sans-serif;
    margin: 0px 0px 1.5em 0px;
}

section#content a {
    color: #126da7;
}

    section#content a:hover {
        color: #0b79be;
        text-decoration: underline;
    }

        section#content h1 a:hover,
        section#content h2 a:hover,
        section#content h3 a:hover {
            text-decoration: none;
        }

section#content img {
    max-width: 100%;
}

section#content table {
    margin: 1em 0px;
    width: 100%;
}

    section#content table th {
        font-family: 'Avenir Medium', 'Avenir', 'Helvetica', sans-serif;
        font-weight: normal;
        text-align: left;
    }

    section#content table tr.even {
        background: #f4fbff;
    }

        section#content table tr.odd td:first-child,
        section#content table tr.even td:first-child {
            border-left: 2px solid #f0f7fc;
        }

            section#content table tr.odd td,
            section#content table tr.even td {
                padding: 10px;
            }

            section#content table td {
                vertical-align: top;
            }

section#content blockquote {
    border-left: 5px solid #e3eaef;
    margin: 2em 0px;
    padding: 0em 30px;
}

    section#content blockquote p:last-child,
    section#content blockquote ul:last-child {
        margin-bottom: 0px;
    }

section#content .align-left {
    float: left;
    margin: 0px 1em 1em 0px;
}

section#content .align-right {
    float: right;
    margin: 0px 0px 1em 1em;
}


    /* Our People Section
    ------------------------------------------------------------------------ */
    ul.user-group {
        list-style: none;
        margin: 1em 0px;
        padding: 0px;
    }

        ul.user-group li {
            padding: 1.5em 0px 1.5em 0px;
            border-bottom: 1px solid #e3eaef;
        }

            ul.user-group li:after {
                clear: both;
                content: "\0020";
                display: block;
                height: 0;
                visibility: hidden;
            }

            ul.user-group li:first-child {
                padding-top: 0px;
            }

            ul.user-group li:last-child {
                border-bottom: none;
                padding-bottom: 0px;
            }

            ul.user-group .image {
                float: left;
                margin-right: 2%;
                width: 16%;
            }

            ul.user-group .text {
                float: left;
                width: 82%;
            }

                @media only screen and (max-width: 1040px) {
                    ul.user-group .image { margin-right: 3%; width: 20%; }
                    ul.user-group .text { width: 77%; }
                }

                ul.user-group .text span {
                    display: block;
                }

                    ul.user-group .text span.organization {
                        margin-bottom: 1em;
                    }

                    ul.user-group .text span.title {
                        font: 14px/20px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
                    }

    section#content table.alumni {
        font-size: 15px;
        line-height: 22px;
    }

        section#content table.alumni th {
            padding: 0px 10px;
        }


    /* Our Work Section
    ------------------------------------------------------------------------ */
    ol.our-work-list li {
        margin: 0px 0px 1em 0px;
    }

    .file-icon {
        display: block;
        height: 24px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 20px;
    }

        .file-type-doc,
        .file-type-docx {
            background: url('../images/icon-doc.png') top left no-repeat;
        }

        .file-type-jpg,
        .file-type-jpeg {
            background: url('../images/icon-jpg.png') top left no-repeat;
        }

        .file-type-pdf {
            background: url('../images/icon-pdf.png') top left no-repeat;
        }


    /* Events and Programs Section
    ------------------------------------------------------------------------ */
    ul.seminar-series {
        list-style: none;
        margin: 1em 0px;
        padding: 0px;
    }

        ul.seminar-series li {
            padding: 0px 0px 1.5em 0px;
        }

            ul.seminar-series li:after {
                clear: both;
                content: "\0020";
                display: block;
                height: 0;
                visibility: hidden;
            }

            ul.seminar-series li:last-child {
                padding-bottom: 0px;
            }

            ul.seminar-series .image {
                float: left;
                width: 110px;
            }


    /* News Section
    ------------------------------------------------------------------------ */
    ul.posts {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        ul.posts li {
            margin: 0px 0px 1em 0px;
        }

    .post-date {
        color: #2e3a4a;
        display: block;
        letter-spacing: 1px;
        margin: 24px 0px 24px 0px;
        font: 14px/14px 'Avenir Medium', 'Avenir', 'Helvetica', sans-serif;
        text-transform: uppercase;
    }

    .nav-below {
        margin: 1em 0px 0.5em 0px;
    }

        .nav-below .nav-previous {
            float: left;
            width: 50%;
        }

        .nav-below .nav-next {
            float: left;
            text-align: right;
            width: 50%;
        }


/* News Footer
============================================================================ */

section#news-footer-articles {
    margin: 0px 40px;
}

    section#news-footer-articles article {
        margin-left: 60px;
        margin-right: 60px;
        padding: 20px 0px;
        width: 240px;
    }

    section#news-footer-articles article:first-child { margin-left: 0px; }
    section#news-footer-articles article:last-child { margin-right: 0px; }

        @media only screen and (min-width: 768px) and (max-width: 1040px) {
            section#news-footer-articles { margin: 0px 40px; }

            section#news-footer-articles article {
                margin-left: 36px;
                margin-right: 36px;
                width: 180px;
            }
        }

        @media only screen and (max-width: 768px) {
            section#news-footer-articles { margin: 0px; }
            section#news-footer-articles article { margin-left: 0px; margin-right: 0px; width: 100%; }
        }

        section#news-footer-articles span.news-section {
            color: #0d537f;
            display: block;
            font: 12px/12px 'Avenir Heavy', 'Avenir', 'Helvetica', sans-serif;
            margin: 0px 0px 20px 0px;
            text-transform: uppercase;
        }

        section#news-footer-articles a.news-title {
            color: #029eff;
            display: block;
            font: 16px/20px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
            margin: 0px 0px 20px 0px;
        }

            section#news-footer-articles a.news-title:hover {
                text-decoration: underline;
            }

        section#news-footer-articles span.news-description {
            color: #1d679f;
            display: block;
            font: 14px/20px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
        }


/* Footer
============================================================================ */

a#nsf-footer {
    background: url('../images/footer-nsf.jpg') top left no-repeat;
    color: #eee;
    display: block;
    font: 24px/67px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
    height: 67px;
    padding-left: 245px;
}

    a#nsf-footer span.highlight {
        font-family: 'Avenir Heavy', 'Avenir', 'Helvetica', sans-serif;
    }

    @media only screen and (min-width: 768px) and (max-width: 1040px) {
        a#nsf-footer { font-size: 24px; padding-left: 40px; }
    }

    @media only screen and (max-width: 768px) {
        a#nsf-footer { font-size: 18px; line-height: 33px; padding-left: 40px; }
        a#nsf-footer span.highlight { display: block; }
    }

footer .universities {
    color: #2492d7;
    font: 13px/16px 'Avenir Roman', 'Avenir', 'Helvetica', sans-serif;
    padding: 50px 0px 0px 0px;
}

    footer .universities a {
        color: #2492d7;
    }

        footer .universities a: hover {
            text-decoration: underline;
        }


/* WordPress Specific Code
============================================================================ */

@media print {
    #wpadminbar { display:none; }
}

@media screen {
    body.logged-in.admin-bar {
        margin-top: 28px !important;
    }
}
